@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

* {
    font-family: "Didact Gothic";
}



body {
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 40px;
    background-color: white;
    text-align: left;
    margin: 0px auto 0;
    display: flex;
    align-items: center;
    height: 90px; /* уменьшить высоту */
    padding-left: 20px;
    padding-right: 20px;
}



.navigation {

        text-align: center;
        margin-top: 5;
        font-size: 25px

}

.navigation a {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 25px;
    background-color: #f2f2f2;
    text-decoration: none;
    color: black


}

.productPreview {
    margin-top: 30;
    width: 200px;
    height: 200px;

    margin-left: 20;
    margin-bottom: 30;
}


.profile {
            position: absolute;
            top: 0;

            width: 120px;
            right: 0;
            text-align: center;
}

.profile img {
            width: auto;
            height: 80px;
}

.profile h2 {
            margin: 10;
            font-size: 14px;
}






.product {
  display: flex;



  border-radius: 35px;
  margin: 10px auto;
  background-color: #ffffff;
  width: 70%;
}



h2 {
        width: 300px;
        padding-left: 30px;
}



p {
        width: 88%;
        padding-left: 30px

}



button {

        margin-left: auto;
        border-radius: 15px;
        background-color: 0000ff;
        color: #ffffff;
        border: none;
        height: 100px;
        cursor: pointer;
}

button1 {
    cursor: pointer;
}

.profile img {
    width: 50px; /* Ширина изображения */
    height: 50px; /* Высота изображения */
    vertical-align: top; /* Выравнивание изображения по верхнему краю */
    margin: 6;
}

.profile button1 {
    font-size: 16px; /* Размер текста */

    vertical-align: top; /* Выравнивание текста по верхнему краю */
    margin-left: 16px; /* Отступ слева от изображения */

}

.productDetails {
    margin-top: 20px;

    border-radius: 20px;

    background: white;
    display: flex;
    flex-direction: row;

    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.productDetails p{
    width: 100%
}



.productTitle {

}

.productTitle * {
    font-style: normal;
    margin-bottom: 20px;
}

.productDescription {
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 5px;

    border-radius: 40px;

    background: white;

    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.productDescription p{

    width: 93%;
    padding-left: 30;

}

.productImage {
    margin-top: 20;
    max-width: 40%;
    max-height: 500%;

    margin-bottom: 20;
    margin-left: 20;
}

.filter {
    width: 68%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    background: white;
    border-radius: 40px;
    padding: 10px;
    margin-top: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.searchInput {
    font-size: 20px;
    border: none;
    background-color: #efefef;
    padding: 11px;
    border-radius: 40px;
    width: 100%;
    margin-right: 10px;
}


.review {
    background-color: #efefef;
    padding: 10px;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: black;
}

.price-container {
    height: 8%;

    border-radius: 40px;
    margin-left: auto;
    text-align: center;
    margin-right: 30px;
    display: flex;
    justify-content: space-between;
}
.price {
    margin-left: auto;
    text-align: center;
    margin-right:30px;
}

.review {
    margin-bottom: 20px;
    margin-right: 30px;
    margin-left: 30px;
    background-color: #efefef;
    padding: 10px;
    border-radius: 35px;
}

.createReview {
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    font-size: 20px;

}

.createReview button {
    margin-top: 20px;
    height: 40;
}

.productDescription h2 {
    padding-left: 50px;
    margin-top: 8px;
}

.review h3 {
    margin-left: 15px;
}

.createReview input {
    background-color: #efefef;
    border-radius: 20px;
    border: none;
}

.createReview textarea {
    background-color: #efefef;
    border-radius: 20px;
    border: none;
    padding-top: 17px;
    padding-left: 10px; /* Добавляем отступ слева */
}

.createReview input {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px; /* Добавляем отступ слева */
}

label {
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 5;
}

.productDescription p {
    margin-left:15px;
}

.productTitle h2 {
    width: 100%;
    padding: 0px !important;
}

.productSpecifications {
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 5px;

    border-radius: 40px;

    background: white;

    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.productSpecifications p{

    width: 93%;
    padding-left: 30;

}

.productSpecifications p {
    margin-left:15px;
}

.productSpecifications h2 {
    padding-left: 50px;
    margin-top: 8px;
    margin-bottom: 0;
}

.paymentCard {
    margin-top: 20px;

    margin-left: auto;
    margin-right: auto;
    width: 30%;
    text-align: center;

    border-radius: 20px;
    background: white;

    padding: 10px;
}