@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

* {
    font-family: "Didact Gothic";
}

body {
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 40px;
    background-color: white;
    text-align: left;
    margin: 0px auto 0;
    display: flex;
    align-items: center;
    height: 90px; /* уменьшить высоту */
    padding-left: 20px;
    padding-right: 20px;
}



.navigation {

        text-align: center;
        margin-top: 5;
        font-size: 25px

}

.navigation a {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 25px;
    background-color: #f2f2f2;
    text-decoration: none;
    color: black


}

.productPreview {
        width: 200px;
        height: 200px;
        border-radius: 40px
}


.profile {
            position: absolute;
            top: 0;

            width: 120px;
            right: 0;
            text-align: center;
}

.profile img {
            width: auto;
            height: 80px;
}

.profile h2 {
            margin: 10;
            font-size: 14px;
}






.product {
  display: flex;



  border-radius: 35px;
  margin: 10px auto;
  background-color: #ffffff;
  width: 70%;
}

h2 {
        width: 300px;
        padding-left: 30px;
}



p {
        width: 570px;
        padding-left: 30px

}



button {

        margin-left: auto;
        border-radius: 15px;
        background-color: 0000ff;
        color: #ffffff;
        border: none;
        height: 100px;
        cursor: pointer;
}

button1 {
    cursor: pointer;
}

.profile img {
    width: 50px; /* Ширина изображения */
    height: 50px; /* Высота изображения */
    vertical-align: top; /* Выравнивание изображения по верхнему краю */
    margin: 6;
}

.profile button1 {
    font-size: 16px; /* Размер текста */

    vertical-align: top; /* Выравнивание текста по верхнему краю */
    margin-left: 16px; /* Отступ слева от изображения */

}

.productDetails {
    margin-top: 20px;

    border-radius: 20px;

    background: white;
    display: flex;
    flex-direction: row;

    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.productDetails p{
    width: 100%
}

.productPrice {
    display: flex;

    flex-direction: row;
}

.productTitle {

}

.productTitle * {
    font-style: normal;
    margin-bottom: 20px;
}

.productDescription {
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 5px;

    border-radius: 40px;

    background: white;

    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.productDescription p{

    width: 705px;
    padding-left: 30;

}

.productImage {
    max-width:40%;
    max-height:500%;
    border-radius: 40px;
}

.filter {
    width: 68%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    background: white;
    border-radius: 40px;
    padding: 10px;
    margin-top: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.searchInput {
    font-size: 20px;
    border: none;
    background-color: #efefef;
    padding: 11px;
    border-radius: 40px;
    width: 100%;
    margin-right: 10px;
}


.review {
    background-color: #efefef;
    padding: 10px;
    border-radius: 10px;
}

a {
text-decoration: none;
color: black;
}

