{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

<h1><span style="color: 0000ff">Просто</span>Шоп</h1>

<div class="header-strip"></div>


<div class="navigation">
<a class = "navlink" href="/">Главная</a>
<a class = "navlink" href="/products">Товары</a>
<a class = "navlink" href="/aboutus">О нас</a>
</div>

<div class="profile">
    <button1><img src = "https://i.postimg.cc/Mp5qrQG0/image.png"/><button1>
    <button1>Профиль<button1>
</div>



<div class="all">

    <div class="textabout">
        <h3>О компании</h3>

    </div>

    <div class="descriptionshop">
        <h5><span style="color: 0000ff">Просто</span>Шоп - один из лидеров рынка по продаже цифровой и бытовой техники в
            России</h5>
        <h4>"ПростоШоп" - это магазин электроники, предлагающий широкий ассортимент качественных товаров по доступным
            ценам. Мы ценим время наших клиентов и стараемся сделать процесс покупки максимально удобным и простым. Наши
            профессиональные консультанты всегда готовы помочь вам выбрать подходящий товар, а гибкие условия оплаты и
            доставки сделают покупку еще более приятной. Присоединяйтесь к нам и убедитесь в том, что "ПростоШоп" - это
            лучший выбор для покупки электроники!</h4>
        <h6>Наша история создания:</h6>
        <div class="history">
            <h6 class="historycard">2024 год - идея создания сайта🧐</h6>
            <h6 class="historycard">2024 год - первая версия сайта 🎒</h6>
            <h6 class="historycard">2024 год - выход на рынок 🤑</h6>

        </div>
    </div>

</div>