{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">



<h1><span style="color: 0000ff">Просто</span>Шоп</h1>

<div class="navigation">
<a href="/">Главная</a>
<a href="/products">Товары</a>
<a href="/aboutus">О нас</a>

</div>

<div class="profile">
    <button1><img src = "https://i.postimg.cc/Mp5qrQG0/image.png"/><button1>
    <button1>Профиль<button1>
</div>

<div class="product">
    <img class='productimage' src="{{ product.image_url }}"/>
    <div class="productTitle">
        <h2>{{ product.name }}</h2>
        <div class="price-container">
            <h3 class="price">{{ product.price }} ₽</h3>
            <button>Купить</button>
        </div>
    </div>
</div>

<div class="productDescription">
    <h2>Характеристики:</h2>

    {% if product.speed %}
        <p>Скорость: {{ product.speed }} км/ч</p>
    {% endif %}

    {% if product.ram %}
        <p>Размер оперативной памяти: {{ product.ram }} ГБ</p>
    {% endif %}

    {% if product.year %}
        <p>Год релиза: {{ product.year }}</p>
    {% endif %}

    {% if product.os %}
        <p>Операционная система: {{ product.os }}</p>
    {% endif %}
</div>

<div class="productDescription">
    <h2>Описание:</h2>
    <p>{{ product.description }}</p>
</div>

<div class="productDescription">
    <h2>Отзывы:</h2>
    {% for review in reviews %}
    <p>Мы ценим ваше мнение! Пожалуйста, оставьте отзыв о наших товарах и услугах, чтобы помочь нам улучшиться и помочь другим клиентам сделать правильный выбор. Ваше мнение важно для нас!</p>
    <div class="review">
        <h3>Автор: {{ review.author }} </h3>
        <h3>Оценка: {% if review.rating == 0 %}</h3>
            <span style="color: red">отрицательная</span>
            {% else %}
            <span style="color: green">положительная</span>
            {% endif %}
        <h3>Срок использования: {{ review.usage_duration }} месяцев</h3>
        <h3>Текст отзыва: {{ review.text }}</h3>
    </div>
    {% endfor %}

    <form class="createReview" method="post">
        {% csrf_token %}
        <label for="author">Автор:</label>
        <input name="author" placeholder="Укажите ваше имя">
        <label for="rating">Оценка:</label>
        <select name="rating">
             <option value="0">Отрицательная</option>
            <option value="1">Положительная</option>
        </select>


        <label for="duration">Срок использования (в месяцах):</label>
        <input name="duration" placeholder="Укажите срок использования" >
        <label for="review">Текст отзыва:</label>
        <textarea name="review" placeholder="Оставьте ваш отзыв"></textarea>
        <button>Опубликовать</button>
    </form>
<div>
