{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

<div class="navigation">

<h1><span style="color: 0000ff">Просто</span>Шоп</h1>

<a href="/">Главная</a>
<a href="/products">Товары</a>
<a href="/aboutus">О нас</a>

</div>

<div class="productDetails">
    <img class="productImage" src="https://i.ibb.co/2Kyfx8L/kandinsky-download-1718811608686.png">
    <div class="productTitle">
        <h1>Продукт</h1>
        <div class="productPrice">
            <p>100 рублей</p>
            <button>Купить</button>
        </div>
    </div>
</div>

<div class="productDescription">
    <h2>Описание:</h2>
    <p>Тест тест тест</p>
</div>