{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">



<h1><span style="color: 0000ff">Просто</span>Шоп</h1>

<div class="navigation">
<a href="/">Главная</a>
<a href="/products">Товары</a>
<a href="/aboutus">О нас</a>

</div>

<div class="profile">
    <button1><img src = "https://i.postimg.cc/Mp5qrQG0/image.png"/><button1>
    <button1>Профиль<button1>
</div>

<div class="product">
    <img class="productImage" src="https://i.pinimg.com/564x/37/a8/ae/37a8ae2095512429d5d0ffa5d8675378.jpg">
    <div class="product">
        <h2>Apple Watch</h2>
        <div class="price">
            <h3>100 рублей</h3>
            <button>Купить</button>
        </div>
    </div>
</div>

<div class="productDescription">
    <h2>Описание:</h2>
    <p>Маленький компьютер, который выполнит часть функций секретаря и медицинского помощника. Часы, с которыми можно вообще не доставать смартфон в течение дня. С их помощью можно отвечать на звонки, просматривать уведомления, измерять показатели здоровья, считать шаги и калории.</p>
</div>