{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

<a class = "navlink" href="/"><h1><span style="color: 0000ff">Просто</span>Шоп</h1></a>

<div class="header-strip"></div>
<div class="legenda">
    <h1>Просто магазин электроники</h1>
</div>


<div class="navigation">
<a class = "navlink" href="/">Главная</a>
<a class = "navlink" href="/products">Товары</a>
<a class = "navlink" href="/aboutus">О нас</a>
</div>

<div class="profile">
<a href="/profile">
    <button1><img src = "https://i.postimg.cc/Mp5qrQG0/image.png"/><button1>
    <button1>Профиль<button1>
</a>
</div>
<div class="productslist">

<h16 style="text-align: center;">Здесь пока ничего нет :(</h16>

</div>


<div style="display: flex; flex-direction: column; align-items: center; justify-content: center; ">
<svg
      style="font-size: 400px"
      viewBox="0 0 24 24"
      fill="currentColor"
      height="1em"
      width="1em"

    >
      <path d="M5 2c-1.103 0-2 .897-2 2v12c0 1.103.897 2 2 2h3.586L12 21.414 15.414 18H19c1.103 0 2-.897 2-2V4c0-1.103-.897-2-2-2H5zm14 14h-4.414L12 18.586 9.414 16H5V4h14v12z" />
      <path d="M11 6h2v6h-2zm0 7h2v2h-2z" />
</svg>
<div>