{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">




<a class = "navlink" href="/"><h1><span style="color: 0000ff">Просто</span>Шоп</h1></a>
<div class="legenda">
    <h1>Просто магазин электроники</h1>
</div>

<div class="navigation">
<a href="/">Главная</a>
<a href="/productlist">Товары</a>
<a href="/aboutus">О нас</a>

</div>

<div class="profile">
<a href="/profile">
    <button1><img src = "https://i.postimg.cc/Mp5qrQG0/image.png"/><button1>
    <button1>Профиль<button1>
</a>
</div>



<div class="productTitle">

    <div class="product">

        <img class="productimage" src="{{ product.image_url }}"/>

            <div class="ghid">
                <img class='logo' src="https://i.postimg.cc/6qDB1Cds/9dc3e2df9326ce99e332feb4ee5f86ef3e2d7612ef75ea927683d6d7c70e6a9b.png">
            <h2>{{ product.name }}</h2>
            <div class="price-button">
                <h10 class="priceproduct">{{ product.price }} ₽</h10>
                <button>Купить</button>
            </div>
            <h2>Гарантия:</h2>
            <div class="dateuse">
                <h10>12 месяцев</h10>
            </div>
            <div class="xap">

            {% if product.memory %}
                <p>Память: {{ product.memory }}</p>
            {% endif %}


            </div>
        </div>
    </div>
</div>

<div class="productDescription">
    <h2>Характеристики:</h2>

    {% if product.speed %}
        <p>Скорость: {{ product.speed }} км/ч</p>
    {% endif %}

    {% if product.ram %}
        <p>Размер оперативной памяти: {{ product.ram }} ГБ</p>
    {% endif %}

    {% if product.year %}
        <p>Год релиза: {{ product.year }}</p>
    {% endif %}

    {% if product.os %}
        <p>Операционная система: {{ product.os }}</p>
    {% endif %}


</div>

<div class="productDescription">
    <h2>Описание:</h2>
    <p>{{ product.description }}</p>
</div>

<div class="productDescription">
  <h2>Форма для отзыва:</h2>

  <form class="createReview" method="post">
    {% csrf_token %}
    <label for="author">Автор:</label>
    <input name="author" placeholder="Укажите ваше имя" required>
    <label for="rating">Оценка:</label>
    <div class="rating">
      <input type="radio" id="positive" name="rating" value="1" required>
      <label class="positive">Положительная</label>
      <input type="radio" id="negative" name="rating" value="0" required>
      <label class="negative">Отрицательная</label>

    </div>

    <label for="duration">Срок использования (в месяцах):</label>
    <input name="duration" placeholder="Укажите срок использования" required>
    <label for="review">Текст отзыва:</label>
    <textarea name="review" placeholder="Оставьте ваш отзыв" required></textarea>
    <button>Опубликовать</button>
  </form>
</div>

<div class="productDescription">
  <h2>Отзывы:</h2>
  <p>Мы ценим ваше мнение! Пожалуйста, оставьте отзыв о наших товарах и услугах, чтобы помочь нам улучшиться и помочь другим клиентам сделать правильный выбор. Ваше мнение важно для нас!</p>
  {% for review in reviews %}
  <div class="review">
    <h3 class="review-author">
      <span class="review-author-label">Автор:</span>
      <span class="review-author-name">{{ review.author }}</span>
    </h3>
    <h3>Оценка:
      {% if review.rating == 0 %}
        <span style="color: red">отрицательная</span>
      {% else %}
        <span style="color: green">положительная</span>
      {% endif %}
    </h3>
    <h3 class="review-usage">
      <span class="review-usage-label">Срок использования:</span>
      <span class="review-usage-name">{{ review.usage_duration }} месяцев</span>
    </h3>
    <h3 class="review-text-label">Текст отзыва:</h3>
    <span class="review-text">{{ review.text }}</span>
  </div>
  {% endfor %}
</div>


<div>