{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

<a class = "navlink" href="/"><h1><span style="color: 0000ff">Просто</span>Шоп</h1></a>


<div class="header-strip"></div>
<div class="legenda">
    <h1>Просто магазин электроники</h1>
</div>

<div class="navigation">
<a class = "navlink" href="/">Главная</a>
<a class = "navlink" href="/productlist">Товары</a>
<a class = "navlink" href="/aboutus">О нас</a>
</div>



<div class="profile">
<a href="/profile">
    <button1><img src = "https://i.postimg.cc/Mp5qrQG0/image.png"/><button1>
    <button1>Профиль<button1>
</a>
</div>


<div class="auth">
    <h15>Авторизация</h15>
    <profileimg>
        <img src = "https://i.postimg.cc/Mp5qrQG0/image.png"/>
    </profileimg>
    <input class="authtext" placeholder="Логин">
    <input class="authtext" placeholder="Пароль">
    <div class="buttonauth">
         <button>Войти</button>
    <div>
        <p>Не зарегистрированы? Зарегистрируйтесь! | пока что недоступно :( </p>
    <p>Продолжая регистрацию или вход, вы принимаете условия Пользовательского соглашения и Политики конфиденциальности</p>
</div>